#!/bin/sh
if command -v lsb_release &> /dev/null
then
  mkdir -p .direnv
  use_flake() {
    watch_file flake.nix
    watch_file flake.lock
    eval "$(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
  }
fi
export DIRENV_WARN_TIMEOUT=100h
watch_file *.nix
use flake
