---
# Default values for plausible.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# plausible analytics configuration
# see https://plausible.io/docs/self-hosting-configuration

## Server

baseURL: http://plausible-analytics.local  # The hosting url of the server
listenIP: 0.0.0.0
secretKeyBase: ""  # is automaticly generated if left empty
disableRegistration: false  # Restricts registration of new users.
logFailedLoginAttempts: false  # Controls whether to log warnings about failed login attempts.

## Databases
## Plausible require a Postgres and Clickhouse database

### The URL to the Postgres Database Connection String see -> https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING
databaseURL: "postgres://postgres:postgres@plausible-analytics-postgresql:5432/plausible_db"

### The URL Connection String to clickhouse DB see -> https://clickhouse.tech/docs/en/interfaces/http/
clickhouseDatabaseURL: "http://clickhouse:password@plausible-analytics-clickhouse:8123/plausible_events_db"
clickhouseFlushIntervalMS: ""
clickhouseMaxBufferSize: ""

### Check that postgres and clickhouse are accesible before starting plausible
plausibleInitContainers:
  enabled: true
  curl:
    enabled: false  # use curl method to check if clickhouse is ready. (When port 9000 is not accessible)
    image:
      repository: curlimages/curl
      tag: "8.2.1"
  postgresql:
    image:
      repository: postgres
      tag: "13.3-alpine"
  clickhouse:
    image:
      repository: bitnami/clickhouse
      tag: "23.3.9"

### Specifies if the helm chart should create a secret file or use an existingSecret
secret:
  create: true
  existingSecret: ""

## Mailer / SMTP Setup
## Plausible send transactional emails e.g. account activation, password reset, weekly reports, etc.

mailer:
  enabled: false  # Enable/Disable functionality
  email: ""  # the email address of the email sender
  adapter: ""  # "Bamboo.SMTPAdapter", "Bamboo.MailgunAdapter", "Bamboo.MandrillAdapter", "Bamboo.SendGridAdapter"
  smtp:
    host: ""  # The host address of your smtp server.
    port: ""  # The port of your smtp server.
    auth: false  # If SMTP auth is enabled.
    username: ""  # The username/email in case SMTP auth is enabled.
    password: ""  # The password in case SMTP auth is enabled.
    ssl: false  # If SSL is enabled for SMTP connection
    retries: ""  # Number of retries to make until mailer gives up.
  mailgun:
    apiKey: ""
    domain: ""
    baseURI: ""
  postmarkApiKey: ""
  mandrillApiKey: ""
  sendgridApiKey: ""

## IP Geolocation
## Plausible use a free ip <-> country database to enrich analytics optionally
## you can provide a different database

extra_geolocation:
  enabled: false  # Enable/Disable
  maxmind:
    licenseKey: ""
    edition: ""
  geolite2CountryDB: ""
  geonamesSourceFile: ""

##  Google API Integration Integration
## See: https://docs.plausible.io/self-hosting-configuration#google-search-integration

google:
  enabled: false  # Enable/Disable
  clientID:  # The Client ID from the Google API Console for your Plausible Analytics project
  clientSecret:  # The Client Secret from the Google API Console for your Plausible Analytics project

labels: {}  # Extra Labels to apply on your k8s deployment

# ------------------------------------------------------------------------------
# Postgresql:
# ------------------------------------------------------------------------------

postgresql:
  ## If true, install the Postgresql chart
  ## ref: https://github.com/bitnami/charts/tree/main/bitnami/postgresql
  enabled: true
  auth:
    username: postgres
    password: postgres
    database: plausible_db
  port: 5432
  replication:
    enabled: false
  metrics:
    enabled: false
  primary:
    persistence:
      enabled: false

# ------------------------------------------------------------------------------
# Clickhouse:
# ------------------------------------------------------------------------------

clickhouse:
  ## If true, install the Clickhouse chart
  ## ref: https://github.com/bitnami/charts/tree/main/bitnami/clickhouse
  enabled: true
  auth:
    username: clickhouse
    password: password
    database: plausible_events_db
  initdbScripts:
    db-init.sql: |
      CREATE DATABASE IF NOT EXISTS plausible_events_db
  initContainers: []
  # https://github.com/plausible/analytics/discussions/1603 clickhouse cluster is not supported yet.
  shards: 1
  replicaCount: 1
  zookeeper:
    enabled: false
  persistence:
    enabled: false

## Kubernetes ressources

replicaCount: 1

image:
  repository: plausible/community-edition
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v2.1.0"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  pathType: Prefix
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts: []
  path: /
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

## Extra environment variables definition
extraEnv: []
